<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="keywords" content="html, css, 網頁, JS, javascript">
    <meta name="description" content="Here is my page.">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Joy">

    <!-- bootstrap js 字型-->
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+TC|Open+Sans&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://kit.fontawesome.com/68f8681dba.js" crossorigin="anonymous"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    
    <!-- icon -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- css -->
    {% load static %}
    <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />
    {% block script %}
    <script src="{% static 'js/script.js' %}"></script>
    <!--網站小圖示-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"rel="stylesheet">
    <!--歸零CSS-->
    <link rel="stylesheet" href="{% static 'css/reset.css' %}">
    <!--變數設定CSS-->
    <link rel="stylesheet" href="{% static 'css/basic.css' %}">
    <!--版面設定CSS-->
    <link rel="stylesheet" href="{% static 'css/style1.css' %}">
   {% endblock %}
    <title>{% block title %}Introduction{% endblock %}</title>
    
    <!-- 引入 Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <!-- 自定义 CSS -->
</head>
<body>
  {% include 'header.html' %}
<!-- #section1 -->
  <div class="section1">
    <div class="container">
      <div class="row">
        <div class="col-md-6 text-center">
          <h1>Stop polluting</h1>
          <h1>and start living.</h1>
        </div>
      </div>
    </div>
  </div>
<!-- #section2 -->
  <div class="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-8 offset-md-2  text-center">
          <h3>Self Introduction</h3>   
          <div class="row">
              <div class="col-md-4  text-center">
                  <img width="120" src="{% static 'img/images.jpg' %}" >
              </div>
              <div class="col-md-8 text-center">
                  <h4>Hello, this is Yuju-Lin.</h4>
                  <p>   
                     I'm a environmentalist.<br>
                     I'd bring my reusable items where ever I go,<br>
                     like shopping bags, chopsticks, bottle,ect.<br>
                     And I'm a animal lover,<br>
                     so I try to become a vegetarian, even a vegan<br>
                     although I eat some meat, sometimes. 
                  </p>
              </div>
          </div>
        </div>  
      </div>
    </div>
  </div>
<!-- #section3 -->
  <div class="section3">
    <div class="container">
      <div class="row">
        <h1>Thanks for your contact.</h1>
      </div>
    </div>        
  </div>

</body> 
</div>
<!-- 引入 Bootstrap JS 和 jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<!--頁尾區塊-->
<!-- #footer -->
<footer>
  <div id="footer">
    <div class="row">
      <div class="col-md-10">
        <div id="copyright">
            <small>Yuju-Lin Introduction </small>
            <a href="mailto:soyeon11822@gmail.com">Gmail:soyeon11822@gmail.com</a>
        </div>
      </div>
      <div class="col-md-2">
        <div id="sns">
        <a href="https://www.facebook.com/profile.php?id=100001921731420" targe="_blank"><img src="{% static 'img/ion-fb.png' %}" alt=""></a>
        <a href="https://www.instagram.com/yuju.1127?igsh=aGRzbXVnb2syNDVv" targe="_blank"><img src="{% static 'img/ion-ig.png' %}" alt=""></a>
        </div>
      </div>
    </div>
  </div>
</footer>
</html>